$main-color:#069fe9;
$link-color:#c0beb0;
$active-color: #fdbe51;
$default:#e6e6e6;
.topoflow-container {
    svg {
        cursor: move;
        user-select: none;
        .node {
            cursor: pointer;
            stroke-width: 1px;            
        }
        .link {
            stroke: $link-color;
            stroke-width: 2px;
            &.active {
                stroke: $active-color;
            }
            &:hover {
                stroke-width: 5px;
            }
        }
        #end-arrow {
            stroke: $link-color;
            fill: $link-color;
            pointer-events: none;
        }
        #start-arrow {
            stroke: $link-color;
            fill: $link-color;
            pointer-events: none;
        }
        .dragline {
            fill: white;
            stroke: $main-color;
        }
        .hide {
            display: none;
        }
        .delete-not-btn {
            cursor: pointer;
        }
        .operating-point {
            cursor: crosshair;
        }
    }
    .right-menu {
        ul {
            padding-left: 0;
            background-color: white;
            border: 1px solid #ccc;
        }
        li {            
            padding: 5px;
            font-size: 13px;
            list-style: none;
            border-bottom: 1px solid #ececec;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            &:hover {
                background-color: #e8e8e8;
            }
        }
        position: absolute;
        display: none;
        width: 150px;
    }
}